Zelle 1: Libraries laden

In [1]:
# Imports the "pandas" library and gives it the short name "pd".
# Pandas is mainly used for data analysis and working with tabular data (DataFrames).
import pandas as pd  

# Imports the "requests" library.
# The requests library is used to send HTTP requests (e.g., GET, POST) to web servers
# in order to retrieve or send data over the internet.
import requests

# Load "data"

## Load "session"

In [ ]:
import requests
import pandas as pd

# Fetch all sessions from the OpenF1 API
url = "https://api.openf1.org/v1/sessions"
response = requests.get(url)       # Send a GET request to the API
data = response.json()             # Convert the response into JSON (Python dict/list)

# Convert JSON data to a Pandas DataFrame
df = pd.DataFrame(data)

# Filter only the race sessions that took place in Spielberg
race_sessions_spielberg = df[
    (df['session_type'] == 'Race') & (df['location'] == 'Spielberg')
]

# Display the filtered DataFrame
display(race_sessions_spielberg)

,meeting_key,session_key,location,date_start,date_end,session_type,session_name,country_key,country_code,country_name,circuit_key,circuit_short_name,gmt_offset,year
46,1213,9117,Spielberg,2023-07-01T14:30:00+00:00,2023-07-01T15:00:00+00:00,Race,Sprint,17,AUT,Austria,19,Spielberg,02:00:00,2023
47,1213,9118,Spielberg,2023-07-02T13:00:00+00:00,2023-07-02T15:00:00+00:00,Race,Race,17,AUT,Austria,19,Spielberg,02:00:00,2023
168,1239,9549,Spielberg,2024-06-29T10:00:00+00:00,2024-06-29T10:30:00+00:00,Race,Sprint,17,AUT,Austria,19,Spielberg,02:00:00,2024
170,1239,9550,Spielberg,2024-06-30T13:00:00+00:00,2024-06-30T15:00:00+00:00,Race,Race,17,AUT,Austria,19,Spielberg,02:00:00,2024
293,1264,9955,Spielberg,2025-06-29T13:00:00+00:00,2025-06-29T15:00:00+00:00,Race,Race,17,AUT,Austria,19,Spielberg,02:00:00,2025

In [ ]:
# Loop through all column names in the DataFrame "race_sessions_spielberg"
for col in race_sessions_spielberg.columns:
    # Print each column name
    print(col)

meeting_key
session_key
location
date_start
date_end
session_type
session_name
country_key
country_code
country_name
circuit_key
circuit_short_name
gmt_offset
year

## Load "drivers"

In [ ]:
import requests
import pandas as pd

# Fetch driver data from the OpenF1 API
url = "https://api.openf1.org/v1/drivers"
response = requests.get(url)   # Send a GET request to the API
data = response.json()         # Convert the response into JSON (list/dict)

# Convert JSON data to a Pandas DataFrame
df = pd.DataFrame(data)

# Filter drivers who participated in the session with key 9550
drivers = df.query("session_key == 9550")

In [ ]:
# Loop through all column names in the DataFrame "drivers"
for col in drivers.columns:
    # Print each column name
    print(col)

meeting_key
session_key
driver_number
broadcast_name
full_name
name_acronym
team_name
team_colour
first_name
last_name
headshot_url
country_code

In [ ]:
# Print the number of drivers in the DataFrame
# len(drivers) returns how many rows (drivers) are in the filtered DataFrame
print(f"Num of Drivers: {len(drivers)}")

Num of Drivers: 20

In [ ]:
# Display the "drivers" DataFrame in a nice tabular format (works in Jupyter notebooks)
display(drivers)

# Save the DataFrame as a CSV file inside the 'source' folder
# index=False prevents Pandas from writing row numbers into the file
drivers.to_csv('source/drivers.csv', index=False)

,meeting_key,session_key,driver_number,broadcast_name,full_name,name_acronym,team_name,team_colour,first_name,last_name,headshot_url,country_code
3403,1239,9550,1,M VERSTAPPEN,Max VERSTAPPEN,VER,Red Bull Racing,3671C6,Max,Verstappen,https://media.formula1.com/d_driver_fallback_i...,NED
3404,1239,9550,2,L SARGEANT,Logan SARGEANT,SAR,Williams,64C4FF,Logan,Sargeant,https://media.formula1.com/d_driver_fallback_i...,USA
3405,1239,9550,3,D RICCIARDO,Daniel RICCIARDO,RIC,RB,6692FF,Daniel,Ricciardo,https://media.formula1.com/d_driver_fallback_i...,AUS
3406,1239,9550,4,L NORRIS,Lando NORRIS,NOR,McLaren,FF8000,Lando,Norris,https://media.formula1.com/d_driver_fallback_i...,GBR
3407,1239,9550,10,P GASLY,Pierre GASLY,GAS,Alpine,0093cc,Pierre,Gasly,https://media.formula1.com/d_driver_fallback_i...,FRA
3408,1239,9550,11,S PEREZ,Sergio PEREZ,PER,Red Bull Racing,3671C6,Sergio,Perez,https://media.formula1.com/d_driver_fallback_i...,MEX
3409,1239,9550,14,F ALONSO,Fernando ALONSO,ALO,Aston Martin,229971,Fernando,Alonso,https://media.formula1.com/d_driver_fallback_i...,ESP
3410,1239,9550,16,C LECLERC,Charles LECLERC,LEC,Ferrari,E80020,Charles,Leclerc,https://media.formula1.com/d_driver_fallback_i...,MON
3411,1239,9550,18,L STROLL,Lance STROLL,STR,Aston Martin,229971,Lance,Stroll,https://media.formula1.com/d_driver_fallback_i...,CAN
3412,1239,9550,20,K MAGNUSSEN,Kevin MAGNUSSEN,MAG,Haas F1 Team,B6BABD,Kevin,Magnussen,https://media.formula1.com/d_driver_fallback_i...,DEN
3413,1239,9550,22,Y TSUNODA,Yuki TSUNODA,TSU,RB,6692FF,Yuki,Tsunoda,https://media.formula1.com/d_driver_fallback_i...,JPN
3414,1239,9550,23,A ALBON,Alexander ALBON,ALB,Williams,64C4FF,Alexander,Albon,https://media.formula1.com/d_driver_fallback_i...,THA
3415,1239,9550,24,G ZHOU,ZHOU Guanyu,ZHO,Kick Sauber,52e252,Guanyu,Zhou,https://media.formula1.com/d_driver_fallback_i...,CHN
3416,1239,9550,27,N HULKENBERG,Nico HULKENBERG,HUL,Haas F1 Team,B6BABD,Nico,Hulkenberg,https://media.formula1.com/d_driver_fallback_i...,GER
3417,1239,9550,31,E OCON,Esteban OCON,OCO,Alpine,0093cc,Esteban,Ocon,https://media.formula1.com/d_driver_fallback_i...,FRA
3418,1239,9550,44,L HAMILTON,Lewis HAMILTON,HAM,Mercedes,27F4D2,Lewis,Hamilton,https://media.formula1.com/d_driver_fallback_i...,GBR
3419,1239,9550,55,C SAINZ,Carlos SAINZ,SAI,Ferrari,E80020,Carlos,Sainz,https://media.formula1.com/d_driver_fallback_i...,ESP
3420,1239,9550,63,G RUSSELL,George RUSSELL,RUS,Mercedes,27F4D2,George,Russell,https://media.formula1.com/d_driver_fallback_i...,GBR
3421,1239,9550,77,V BOTTAS,Valtteri BOTTAS,BOT,Kick Sauber,52e252,Valtteri,Bottas,https://media.formula1.com/d_driver_fallback_i...,FIN
3422,1239,9550,81,O PIASTRI,Oscar PIASTRI,PIA,McLaren,FF8000,Oscar,Piastri,https://media.formula1.com/d_driver_fallback_i...,AUS

## Load "laps"

In [5]:
import requests
import pandas as pd

# ✅ Request lap data from the OpenF1 API
# Here we add two filters directly in the URL:
# - session_key=9550 → selects a specific race session
# - driver_number=63 → selects only the driver with number 63 (George Russell)
url = "https://api.openf1.org/v1/laps?session_key=9550&driver_number=63"

# Send a GET request to the API and convert the response to JSON
response = requests.get(url)
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Save the laps of driver 63 into a separate DataFrame
laps_driver_63 = df

# Save the DataFrame as a CSV file inside the 'source' folder
# index=False prevents Pandas from writing row numbers into the file
laps_driver_63.to_csv('source/data/laps/laps_driver_16.csv', index=False)

In [ ]:
# Loop through all column names in the DataFrame "laps_driver_63"
for col in laps_driver_63.columns:
    # Print each column name
    print(col)

meeting_key
session_key
driver_number
lap_number
date_start
duration_sector_1
duration_sector_2
duration_sector_3
i1_speed
i2_speed
is_pit_out_lap
lap_duration
segments_sector_1
segments_sector_2
segments_sector_3
st_speed

In [ ]:
import requests
import pandas as pd

# ✅ Request lap data from the OpenF1 API
# Filters in the URL:
# - session_key=9550 → selects a specific race session
# - driver_number=1 → selects only the driver with number 1 (Max Verstappen)
url = "https://api.openf1.org/v1/laps?session_key=9550&driver_number=1"

# Send a GET request to the API and parse the response as JSON
response = requests.get(url)
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Store all laps of driver 1 into a DataFrame
laps_driver_1 = df

In [ ]:
# Print the total number of laps completed by driver 1 in session 9550
# len(laps_driver_1) gives the number of rows in the DataFrame,
# which corresponds to the number of laps
print(f"Num of Laps: {len(laps_driver_1)}")

Num of Laps: 71

In [ ]:
# Display the "laps_driver_1" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or environments that support rich display)
display(laps_driver_1)

,meeting_key,session_key,driver_number,lap_number,date_start,duration_sector_1,duration_sector_2,duration_sector_3,i1_speed,i2_speed,is_pit_out_lap,lap_duration,segments_sector_1,segments_sector_2,segments_sector_3,st_speed
0,1239,9550,1,1,None,NaN,31.028,20.960,300.0,229,True,NaN,"[2048, 2051, 2051, 2051, 2049, 2049]","[2051, 2051, 2049, 2049, 2051, 2049, 2051]","[2051, 2051, 2049, 2051, 2049, 2049, 2051]",291
1,1239,9550,1,2,2024-06-30T13:04:14.597000+00:00,17.697,31.186,21.055,290.0,227,False,69.938,"[2049, 2049, 2048, 2049, 2049, 2048]","[2048, 2049, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2049, 2051, 2048]",286
2,1239,9550,1,3,2024-06-30T13:05:24.628000+00:00,17.531,31.065,21.261,292.0,230,False,69.857,"[None, 2049, 2051, 2049, 2049, 2048]","[2048, 2048, 2048, 2048, 2048, 2049, 2048]","[2048, 2048, 2049, 2048, 2048, 2048, 2048]",286
3,1239,9550,1,4,2024-06-30T13:06:34.454000+00:00,17.571,31.180,21.152,293.0,230,False,69.903,"[2048, 2048, 2048, 2049, 2048, 2049]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2049, 2048, 2048, 2048, 2048]",289
4,1239,9550,1,5,2024-06-30T13:07:44.347000+00:00,17.674,31.153,21.178,NaN,230,False,70.005,"[2049, 2048, 2048, 2048, 2048, 2049]","[2048, 2048, 2048, 2049, 2048, 2048, 2048]","[2048, 2048, 2049, 2048, 2048, 2048, 2048]",291
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,1239,9550,1,67,2024-06-30T14:22:08.296000+00:00,17.347,32.344,22.000,286.0,213,False,71.691,"[None, 2048, 2051, 2048, 2048, 2048]","[2048, 2049, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2051, 2048]",290
67,1239,9550,1,68,2024-06-30T14:23:20.133000+00:00,17.142,30.279,20.298,297.0,239,False,67.719,"[None, 2048, 2051, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2051, 2049, 2051]","[2051, 2048, 2049, 2048, 2049, 2048, 2048]",307
68,1239,9550,1,69,2024-06-30T14:24:27.916000+00:00,17.252,30.674,20.395,289.0,235,False,68.321,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2049, 2048, 2048, 2048]",298
69,1239,9550,1,70,2024-06-30T14:25:36.189000+00:00,17.214,30.512,20.346,290.0,238,False,68.072,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2051, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2049, 2048, 2048, 2048]",296
70,1239,9550,1,71,2024-06-30T14:26:44.268000+00:00,17.243,30.640,20.635,288.0,238,False,68.518,"[None, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]","[2048, 2048, 2048, 2048, 2048, 2048, 2048]",298

## Load "intervals"

In [ ]:
import requests
import pandas as pd

# ✅ Request interval data from the OpenF1 API
# Filters in the URL:
# - session_key=9550 → selects a specific race session
# - driver_number=1 → selects only the driver with number 1 (Max Verstappen)
url = "https://api.openf1.org/v1/intervals?session_key=9550&driver_number=1"

# Send a GET request to the API
response = requests.get(url)

# Parse the response as JSON
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Save all interval data of driver 1 into a DataFrame
intervals_driver_1 = df

In [ ]:
# Loop through all column names in the DataFrame "intervals_driver_1"
for col in intervals_driver_1.columns:
    # Print each column name
    print(col)

In [ ]:
# Print the total number of interval records for driver 1 in session 9550
# len(intervals_driver_1) returns the number of rows in the DataFrame,
# which corresponds to the number of recorded intervals
print(f"Num of Intervals: {len(intervals_driver_1)}")

Num of Intervals: 249

In [ ]:
# Display the "intervals_driver_1" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or other environments that support rich display)
display(intervals_driver_1)

,date,session_key,gap_to_leader,interval,meeting_key,driver_number
0,2024-06-30T12:07:34.919000+00:00,9550,0.000,0.000,1239,1
1,2024-06-30T13:04:14.393000+00:00,9550,0.000,0.000,1239,1
2,2024-06-30T13:05:24.405000+00:00,9550,0.000,0.000,1239,1
3,2024-06-30T13:06:34.217000+00:00,9550,0.000,0.000,1239,1
4,2024-06-30T13:07:44.123000+00:00,9550,0.000,0.000,1239,1
...,...,...,...,...,...,...
244,2024-06-30T14:27:45.513000+00:00,9550,27.524,4.411,1239,1
245,2024-06-30T14:27:46.838000+00:00,9550,27.467,4.320,1239,1
246,2024-06-30T14:27:49.498000+00:00,9550,27.258,4.154,1239,1
247,2024-06-30T14:27:52.526000+00:00,9550,27.253,4.111,1239,1
248,2024-06-30T14:28:02.959000+00:00,9550,37.253,14.111,1239,1

## Load "stints"

In [ ]:
import requests
import pandas as pd

# ✅ Request stint data from the OpenF1 API
# Filter in the URL:
# - session_key=9550 → selects a specific race session
url = "https://api.openf1.org/v1/stints?session_key=9550"

# Send a GET request to the API
response = requests.get(url)

# Parse the response as JSON
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Store all stint data of session 9550 in a DataFrame
stints = df

In [ ]:
# Print the total number of stints in session 9550
# len(stints) returns the number of rows in the DataFrame,
# which corresponds to the number of tyre stints recorded
print(f"Num of Stints: {len(stints)}")

Num of Intervals: 65

In [ ]:
# Display the "stints" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or other environments that support rich display)
display(stints)

,meeting_key,session_key,stint_number,driver_number,lap_start,lap_end,compound,tyre_age_at_start
0,1239,9550,1,11,1,21,MEDIUM,0
1,1239,9550,1,31,1,19,MEDIUM,0
2,1239,9550,1,77,1,19,MEDIUM,0
3,1239,9550,1,63,1,22,MEDIUM,0
4,1239,9550,1,1,1,23,MEDIUM,0
...,...,...,...,...,...,...,...,...
60,1239,9550,5,16,52,71,MEDIUM,6
61,1239,9550,3,24,52,70,HARD,0
62,1239,9550,3,44,54,71,MEDIUM,0
63,1239,9550,4,1,65,71,SOFT,0
64,1239,9550,4,14,69,70,SOFT,0

In [ ]:
# Save the "stints" DataFrame as a CSV file inside the 'source' folder
# index=False prevents Pandas from writing row numbers into the file
stints.to_csv('source/stints.csv', index=False)

## Load "race control"

In [ ]:
import requests
import pandas as pd

# ✅ Request race control messages from the OpenF1 API
# Filter in the URL:
# - session_key=9550 → selects a specific race session
url = "https://api.openf1.org/v1/race_control?session_key=9550"

# Send a GET request to the API
response = requests.get(url)

# Parse the response as JSON
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Store all race control messages for session 9550 in a DataFrame
race_control = df

In [ ]:
# Print the total number of race control messages in session 9550
# len(race_control) returns the number of rows in the DataFrame,
# which corresponds to the number of race control messages
print(f"Num of race_control_messages: {len(race_control)}")

Num of race_controls_news: 123

In [ ]:
# Display the "race_control" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or other environments that support rich display)
display(race_control)

,meeting_key,session_key,date,driver_number,lap_number,category,flag,scope,sector,message
0,1239,9550,2024-06-30T12:20:00+00:00,NaN,1,Flag,GREEN,Track,NaN,GREEN LIGHT - PIT EXIT OPEN
1,1239,9550,2024-06-30T12:30:00+00:00,NaN,1,Other,None,None,NaN,PIT EXIT CLOSED
2,1239,9550,2024-06-30T12:45:17+00:00,NaN,1,Other,None,None,NaN,RISK OF RAIN FOR F1 RACE IS 10%
3,1239,9550,2024-06-30T12:57:10+00:00,NaN,1,Drs,None,None,NaN,DRS DISABLED
4,1239,9550,2024-06-30T13:03:02+00:00,NaN,1,Flag,GREEN,Track,NaN,GREEN LIGHT - PIT EXIT OPEN
...,...,...,...,...,...,...,...,...,...,...
118,1239,9550,2024-06-30T14:24:48+00:00,2.0,69,Flag,BLUE,Driver,NaN,WAVED BLUE FLAG FOR CAR 2 (SAR) TIMED AT 16:24:48
119,1239,9550,2024-06-30T14:25:05+00:00,2.0,69,Flag,BLUE,Driver,NaN,WAVED BLUE FLAG FOR CAR 2 (SAR) TIMED AT 16:25:04
120,1239,9550,2024-06-30T14:26:03+00:00,2.0,70,Flag,BLUE,Driver,NaN,WAVED BLUE FLAG FOR CAR 2 (SAR) TIMED AT 16:26:02
121,1239,9550,2024-06-30T14:26:21+00:00,NaN,71,Other,None,None,NaN,CAR 81 (PIA) TIME 1:09.989 DELETED - TRACK LIM...
122,1239,9550,2024-06-30T14:27:25+00:00,NaN,71,Flag,CHEQUERED,Track,NaN,CHEQUERED FLAG

In [ ]:
# Save the "race_control" DataFrame as a CSV file inside the 'source' folder
# index=False prevents Pandas from writing row numbers into the file
race_control.to_csv('source/race_control.csv', index=False)

## Load "position"

In [ ]:
import requests
import pandas as pd

# ✅ Request position data from the OpenF1 API
# Filter in the URL:
# - session_key=9550 → selects a specific race session
url = "https://api.openf1.org/v1/position?session_key=9550"
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data)

# Store all position data in a DataFrame
position = df

# Convert the "date" column (string) into proper datetime objects
position['date'] = pd.to_datetime(position['date'])

# Overwrite a specific datetime value
# Replace '2024-06-30 12:07:38.634000+00:00' with '2024-06-30 13:00:00.000000+00:00'
position.loc[
    position['date'] == pd.Timestamp('2024-06-30 12:07:38.634000+00:00'),
    'date'
] = pd.Timestamp('2024-06-30 13:00:00.000000+00:00')

# Extract only the time part from the datetime column
# (creates a new column "timestamp" that contains only the time)
position['timestamp'] = position['date'].dt.time

In [ ]:
# Display the "position" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or other environments that support rich display)
display(position)

,date,session_key,meeting_key,driver_number,position,timestamp
0,2024-06-30 13:00:00+00:00,9550,1239,1,1,13:00:00
1,2024-06-30 13:00:00+00:00,9550,1239,4,2,13:00:00
2,2024-06-30 13:00:00+00:00,9550,1239,63,3,13:00:00
3,2024-06-30 13:00:00+00:00,9550,1239,55,4,13:00:00
4,2024-06-30 13:00:00+00:00,9550,1239,44,5,13:00:00
...,...,...,...,...,...,...
476,2024-06-30 14:26:59.428000+00:00,9550,1239,24,17,14:26:59.428000
477,2024-06-30 14:27:22.215000+00:00,9550,1239,16,11,14:27:22.215000
478,2024-06-30 14:27:22.215000+00:00,9550,1239,31,12,14:27:22.215000
479,2024-06-30 14:27:56.498000+00:00,9550,1239,22,14,14:27:56.498000
480,2024-06-30 14:27:56.498000+00:00,9550,1239,23,15,14:27:56.498000

In [ ]:
# Print the total number of position records in session 9550
# len(position) returns the number of rows in the DataFrame,
# which corresponds to the number of recorded position updates
print(f"Num of position: {len(position)}")

Num of position: 481

## Load "pit"

In [ ]:
import requests
import pandas as pd

# ✅ Request pit stop data from the OpenF1 API
# Filter in the URL:
# - session_key=9550 → selects a specific race session
url = "https://api.openf1.org/v1/pit?session_key=9550"

# Send a GET request to the API
response = requests.get(url)

# Parse the response as JSON
data = response.json()

# Convert the JSON response into a Pandas DataFrame
df = pd.DataFrame(data)

# Store all pit stop data for session 9550 in a DataFrame
pit = df

In [ ]:
# Print the total number of pit stop records in session 9550
# len(pit) returns the number of rows in the DataFrame,
# which corresponds to the number of pit stops
print(f"Num of pit: {len(pit)}")

Num of pit: 45

In [ ]:
# Display the "pit" DataFrame in a nicely formatted table
# (works in Jupyter notebooks or other environments that support rich display)
display(pit)

,date,session_key,pit_duration,driver_number,meeting_key,lap_number
0,2024-06-30T13:04:53.204000+00:00,9550,31.9,16,1239,1
1,2024-06-30T13:04:55.523000+00:00,9550,31.7,2,1239,1
2,2024-06-30T13:15:24.903000+00:00,9550,21.5,20,1239,10
3,2024-06-30T13:15:25.998000+00:00,9550,21.5,3,1239,10
4,2024-06-30T13:16:35.747000+00:00,9550,22.3,27,1239,11
5,2024-06-30T13:16:40.741000+00:00,9550,21.4,14,1239,11
6,2024-06-30T13:17:53.027000+00:00,9550,21.8,23,1239,12
7,2024-06-30T13:23:00.965000+00:00,9550,21.6,16,1239,16
8,2024-06-30T13:26:14.563000+00:00,9550,22.2,31,1239,19
9,2024-06-30T13:26:23.447000+00:00,9550,21.9,77,1239,19
10,2024-06-30T13:27:27.391000+00:00,9550,21.4,10,1239,20
11,2024-06-30T13:27:33.892000+00:00,9550,21.3,18,1239,20
12,2024-06-30T13:28:14.659000+00:00,9550,22.5,2,1239,20
13,2024-06-30T13:28:25.744000+00:00,9550,21.5,44,1239,21
14,2024-06-30T13:28:31.893000+00:00,9550,21.2,11,1239,21
15,2024-06-30T13:28:43.636000+00:00,9550,21.2,22,1239,21
16,2024-06-30T13:29:31.828000+00:00,9550,21.6,63,1239,22
17,2024-06-30T13:29:34.062000+00:00,9550,21.2,55,1239,22
18,2024-06-30T13:30:32.553000+00:00,9550,21.8,1,1239,23
19,2024-06-30T13:30:38.218000+00:00,9550,21.6,4,1239,23
20,2024-06-30T13:33:11.119000+00:00,9550,20.9,81,1239,25
21,2024-06-30T13:37:32.855000+00:00,9550,23.1,24,1239,28
22,2024-06-30T13:43:26.505000+00:00,9550,22.2,16,1239,33
23,2024-06-30T13:45:53.752000+00:00,9550,33.9,14,1239,35
24,2024-06-30T13:48:00.851000+00:00,9550,21.0,3,1239,37
25,2024-06-30T13:49:11.394000+00:00,9550,21.8,20,1239,38
26,2024-06-30T13:50:18.236000+00:00,9550,21.8,27,1239,39
27,2024-06-30T13:50:33.828000+00:00,9550,21.6,23,1239,39
28,2024-06-30T13:54:02.921000+00:00,9550,22.0,10,1239,42
29,2024-06-30T13:54:11.713000+00:00,9550,21.9,77,1239,42
30,2024-06-30T13:55:14.488000+00:00,9550,21.2,31,1239,43
31,2024-06-30T13:55:20.077000+00:00,9550,21.3,18,1239,43
32,2024-06-30T13:56:31.100000+00:00,9550,23.4,22,1239,44
33,2024-06-30T13:58:03.267000+00:00,9550,21.2,63,1239,46
34,2024-06-30T13:59:17.091000+00:00,9550,21.2,55,1239,47
35,2024-06-30T14:03:26.889000+00:00,9550,22.0,2,1239,49
36,2024-06-30T14:03:40.307000+00:00,9550,25.8,1,1239,51
37,2024-06-30T14:03:43.418000+00:00,9550,21.4,4,1239,51
38,2024-06-30T14:04:02.252000+00:00,9550,20.7,81,1239,51
39,2024-06-30T14:04:31.937000+00:00,9550,27.5,11,1239,51
40,2024-06-30T14:04:54.872000+00:00,9550,20.9,16,1239,51
41,2024-06-30T14:05:25.103000+00:00,9550,21.5,24,1239,51
42,2024-06-30T14:06:34.098000+00:00,9550,27.2,44,1239,53
43,2024-06-30T14:19:30.264000+00:00,9550,22.7,1,1239,64
44,2024-06-30T14:25:54.074000+00:00,9550,22.4,14,1239,68

## Load "location"

## driver1

In [ ]:
from urllib.request import urlopen
import json
import pandas as pd

# ✅ Request location (GPS) data for driver 1 in session 9550
# The URL filters by:
# - session_key=9550 → specific race session
# - driver_number=1 → selects driver #1 (Max Verstappen)
# - date>2024-06-30T13:00:00+00:00 → only data after this timestamp
# - date<2024-06-30T15:00:00+00:00 → only data before this timestamp
response = urlopen(
    'https://api.openf1.org/v1/location?session_key=9550&driver_number=1&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00'
)

# Read and decode the JSON response
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries into a Pandas DataFrame
df = pd.DataFrame(data)

# Display the full location DataFrame (works in Jupyter notebooks)
display(df)

# Save the filtered location DataFrame for driver 1
location_driver_1 = df

# Save the DataFrame as a CSV file inside the 'source' folder
# index=False prevents Pandas from writing row numbers into the file
location_driver_1.to_csv('source/location_driver_1.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1295,1,1239,-1156
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1288,1,1239,-1158
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1271,1,1239,-1163
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1247,1,1239,-1169
4,2024-06-30T13:00:01.243000+00:00,9550,7214,1213,1,1239,-1178
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7305,1579,1,1239,-915
20972,2024-06-30T14:31:27.405000+00:00,9550,7305,1579,1,1239,-915
20973,2024-06-30T14:31:27.485000+00:00,9550,7305,1579,1,1239,-915
20974,2024-06-30T14:31:27.725000+00:00,9550,7305,1579,1,1239,-915
20975,2024-06-30T14:31:28.065000+00:00,9550,7305,1579,1,1239,-915

In [ ]:
# Loop through all column names in the DataFrame "location_driver_1"
for col in location_driver_1.columns:
    # Print each column name
    print(col)

date
session_key
z
x
driver_number
meeting_key
y

In [ ]:
# Print the total number of location records for driver 1 in session 9550
# len(location_driver_1) returns the number of rows in the DataFrame,
# which corresponds to the number of recorded GPS points
print(f"Num of position: {len(location_driver_1)}")

Num of position: 20976

## more drivers

In [ ]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=16&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_16 = df

# Save CSV into 'source' folder
location_driver_16.to_csv('source/location_driver_16.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1182,16,1239,-1187
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1182,16,1239,-1187
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1182,16,1239,-1187
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1182,16,1239,-1187
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1182,16,1239,-1187
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7317,1829,16,1239,-852
20972,2024-06-30T14:31:27.405000+00:00,9550,7317,1829,16,1239,-852
20973,2024-06-30T14:31:27.485000+00:00,9550,7317,1829,16,1239,-852
20974,2024-06-30T14:31:27.725000+00:00,9550,7317,1829,16,1239,-852
20975,2024-06-30T14:31:28.065000+00:00,9550,7317,1829,16,1239,-852

In [ ]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=44&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_44 = df

# Save CSV into 'source' folder
location_driver_44.to_csv('source/location_driver_44.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1278,44,1239,-1161
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1278,44,1239,-1161
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1278,44,1239,-1161
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1278,44,1239,-1161
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1278,44,1239,-1161
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7315,1432,44,1239,-953
20972,2024-06-30T14:31:27.405000+00:00,9550,7315,1432,44,1239,-953
20973,2024-06-30T14:31:27.485000+00:00,9550,7315,1432,44,1239,-953
20974,2024-06-30T14:31:27.725000+00:00,9550,7315,1432,44,1239,-953
20975,2024-06-30T14:31:28.065000+00:00,9550,7315,1432,44,1239,-953

In [20]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=2&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_2 = df

# Save CSV into 'source' folder
location_driver_2.to_csv('source/location_driver_2.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7217,1597,2,1239,-1075
1,2024-06-30T13:00:00.643000+00:00,9550,7217,1597,2,1239,-1075
2,2024-06-30T13:00:00.843000+00:00,9550,7217,1597,2,1239,-1075
3,2024-06-30T13:00:01.063000+00:00,9550,7217,1597,2,1239,-1075
4,2024-06-30T13:00:01.243000+00:00,9550,7217,1597,2,1239,-1075
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7310,1503,2,1239,-934
20972,2024-06-30T14:31:27.405000+00:00,9550,7310,1503,2,1239,-934
20973,2024-06-30T14:31:27.485000+00:00,9550,7310,1503,2,1239,-934
20974,2024-06-30T14:31:27.725000+00:00,9550,7310,1503,2,1239,-934
20975,2024-06-30T14:31:28.065000+00:00,9550,7310,1503,2,1239,-934

In [21]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=3&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_3 = df

# Save CSV into 'source' folder
location_driver_3.to_csv('source/location_driver_3.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1312,3,1239,-1152
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1312,3,1239,-1152
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1312,3,1239,-1152
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1312,3,1239,-1152
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1312,3,1239,-1152
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1684,3,1239,-888
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1684,3,1239,-888
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1684,3,1239,-888
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1684,3,1239,-888
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1684,3,1239,-888

In [22]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=4&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_4 = df

# Save CSV into 'source' folder
location_driver_4.to_csv('source/location_driver_4.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1145,4,1239,-1197
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1136,4,1239,-1199
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1120,4,1239,-1203
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1099,4,1239,-1209
4,2024-06-30T13:00:01.243000+00:00,9550,7214,1072,4,1239,-1216
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7313,186,4,1239,-1286
20972,2024-06-30T14:31:27.405000+00:00,9550,7313,186,4,1239,-1286
20973,2024-06-30T14:31:27.485000+00:00,9550,7313,186,4,1239,-1286
20974,2024-06-30T14:31:27.725000+00:00,9550,7313,186,4,1239,-1286
20975,2024-06-30T14:31:28.065000+00:00,9550,7313,186,4,1239,-1286

In [23]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=10&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_10 = df

# Save CSV into 'source' folder
location_driver_10.to_csv('source/location_driver_10.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7221,1877,10,1239,-999
1,2024-06-30T13:00:00.643000+00:00,9550,7221,1877,10,1239,-999
2,2024-06-30T13:00:00.843000+00:00,9550,7221,1877,10,1239,-999
3,2024-06-30T13:00:01.063000+00:00,9550,7221,1877,10,1239,-999
4,2024-06-30T13:00:01.243000+00:00,9550,7221,1877,10,1239,-999
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1612,10,1239,-906
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1612,10,1239,-906
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1612,10,1239,-906
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1612,10,1239,-906
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1612,10,1239,-906

In [26]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=14&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_14 = df

# Save CSV into 'source' folder
location_driver_14.to_csv('source/location_driver_14.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1297,14,1239,-1156
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1297,14,1239,-1156
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1297,14,1239,-1156
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1297,14,1239,-1156
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1297,14,1239,-1156
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1567,14,1239,-918
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1567,14,1239,-918
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1567,14,1239,-918
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1567,14,1239,-918
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1567,14,1239,-918

In [27]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=18&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_18 = df

# Save CSV into 'source' folder
location_driver_18.to_csv('source/location_driver_18.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1470,18,1239,-1109
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1470,18,1239,-1109
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1470,18,1239,-1109
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1470,18,1239,-1109
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1470,18,1239,-1109
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1507,18,1239,-933
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1507,18,1239,-933
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1507,18,1239,-933
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1507,18,1239,-933
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1507,18,1239,-933

In [28]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=20&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_20 = df

# Save CSV into 'source' folder
location_driver_20.to_csv('source/location_driver_20.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1297,20,1239,-1156
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1297,20,1239,-1156
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1297,20,1239,-1156
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1297,20,1239,-1156
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1297,20,1239,-1156
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1716,20,1239,-880
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1716,20,1239,-880
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1716,20,1239,-880
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1716,20,1239,-880
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1716,20,1239,-880

In [29]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=22&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_22 = df

# Save CSV into 'source' folder
location_driver_22.to_csv('source/location_driver_22.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7214,933,22,1239,-1254
1,2024-06-30T13:00:00.643000+00:00,9550,7214,933,22,1239,-1254
2,2024-06-30T13:00:00.843000+00:00,9550,7214,933,22,1239,-1254
3,2024-06-30T13:00:01.063000+00:00,9550,7214,933,22,1239,-1254
4,2024-06-30T13:00:01.243000+00:00,9550,7214,933,22,1239,-1254
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1442,22,1239,-950
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1442,22,1239,-950
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1442,22,1239,-950
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1442,22,1239,-950
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1442,22,1239,-950

In [30]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=23&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_23 = df

# Save CSV into 'source' folder
location_driver_23.to_csv('source/location_driver_23.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1318,23,1239,-1150
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1318,23,1239,-1150
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1318,23,1239,-1150
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1318,23,1239,-1150
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1318,23,1239,-1150
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1430,23,1239,-953
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1430,23,1239,-953
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1430,23,1239,-953
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1430,23,1239,-953
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1430,23,1239,-953

In [31]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=24&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_24 = df

# Save CSV into 'source' folder
location_driver_24.to_csv('source/location_driver_24.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7312,-896,24,1239,-1576
1,2024-06-30T13:00:00.643000+00:00,9550,7312,-896,24,1239,-1576
2,2024-06-30T13:00:00.843000+00:00,9550,7312,-896,24,1239,-1576
3,2024-06-30T13:00:01.063000+00:00,9550,7312,-896,24,1239,-1576
4,2024-06-30T13:00:01.243000+00:00,9550,7312,-897,24,1239,-1577
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1627,24,1239,-902
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1627,24,1239,-902
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1627,24,1239,-902
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1627,24,1239,-902
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1627,24,1239,-902

In [32]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=27&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_27 = df

# Save CSV into 'source' folder
location_driver_27.to_csv('source/location_driver_27.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1273,27,1239,-1162
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1273,27,1239,-1162
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1273,27,1239,-1162
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1273,27,1239,-1162
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1273,27,1239,-1162
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7311,1548,27,1239,-923
20972,2024-06-30T14:31:27.405000+00:00,9550,7311,1548,27,1239,-923
20973,2024-06-30T14:31:27.485000+00:00,9550,7311,1548,27,1239,-923
20974,2024-06-30T14:31:27.725000+00:00,9550,7311,1548,27,1239,-923
20975,2024-06-30T14:31:28.065000+00:00,9550,7311,1548,27,1239,-923

In [33]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=31&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_31 = df

# Save CSV into 'source' folder
location_driver_31.to_csv('source/location_driver_31.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1259,31,1239,-1166
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1259,31,1239,-1166
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1259,31,1239,-1166
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1259,31,1239,-1166
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1259,31,1239,-1166
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7309,1752,31,1239,-871
20972,2024-06-30T14:31:27.405000+00:00,9550,7309,1752,31,1239,-871
20973,2024-06-30T14:31:27.485000+00:00,9550,7309,1752,31,1239,-871
20974,2024-06-30T14:31:27.725000+00:00,9550,7309,1752,31,1239,-871
20975,2024-06-30T14:31:28.065000+00:00,9550,7309,1752,31,1239,-871

In [34]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=55&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_55 = df

# Save CSV into 'source' folder
location_driver_55.to_csv('source/location_driver_55.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7214,1211,55,1239,-1179
1,2024-06-30T13:00:00.643000+00:00,9550,7214,1211,55,1239,-1179
2,2024-06-30T13:00:00.843000+00:00,9550,7214,1211,55,1239,-1179
3,2024-06-30T13:00:01.063000+00:00,9550,7214,1211,55,1239,-1179
4,2024-06-30T13:00:01.243000+00:00,9550,7214,1211,55,1239,-1179
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7316,1105,55,1239,-1040
20972,2024-06-30T14:31:27.405000+00:00,9550,7316,1105,55,1239,-1040
20973,2024-06-30T14:31:27.485000+00:00,9550,7316,1105,55,1239,-1040
20974,2024-06-30T14:31:27.725000+00:00,9550,7316,1105,55,1239,-1040
20975,2024-06-30T14:31:28.065000+00:00,9550,7316,1105,55,1239,-1040

In [35]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=63&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_63 = df

# Save CSV into 'source' folder
location_driver_63.to_csv('source/location_driver_63.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7215,1325,63,1239,-1148
1,2024-06-30T13:00:00.643000+00:00,9550,7215,1325,63,1239,-1148
2,2024-06-30T13:00:00.843000+00:00,9550,7215,1325,63,1239,-1148
3,2024-06-30T13:00:01.063000+00:00,9550,7215,1325,63,1239,-1148
4,2024-06-30T13:00:01.243000+00:00,9550,7215,1306,63,1239,-1153
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7311,1073,63,1239,-1049
20972,2024-06-30T14:31:27.405000+00:00,9550,7311,1073,63,1239,-1049
20973,2024-06-30T14:31:27.485000+00:00,9550,7311,1073,63,1239,-1049
20974,2024-06-30T14:31:27.725000+00:00,9550,7311,1073,63,1239,-1049
20975,2024-06-30T14:31:28.065000+00:00,9550,7311,1073,63,1239,-1049

In [36]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=77&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_77 = df

# Save CSV into 'source' folder
location_driver_77.to_csv('source/location_driver_77.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7224,2093,77,1239,-941
1,2024-06-30T13:00:00.643000+00:00,9550,7224,2093,77,1239,-941
2,2024-06-30T13:00:00.843000+00:00,9550,7224,2093,77,1239,-941
3,2024-06-30T13:00:01.063000+00:00,9550,7224,2093,77,1239,-941
4,2024-06-30T13:00:01.243000+00:00,9550,7224,2093,77,1239,-941
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7311,1627,77,1239,-902
20972,2024-06-30T14:31:27.405000+00:00,9550,7311,1627,77,1239,-902
20973,2024-06-30T14:31:27.485000+00:00,9550,7311,1627,77,1239,-902
20974,2024-06-30T14:31:27.725000+00:00,9550,7311,1627,77,1239,-902
20975,2024-06-30T14:31:28.065000+00:00,9550,7311,1627,77,1239,-902

In [37]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=81&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_81 = df

# Save CSV into 'source' folder
location_driver_81.to_csv('source/location_driver_81.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7214,944,81,1239,-1251
1,2024-06-30T13:00:00.643000+00:00,9550,7214,944,81,1239,-1251
2,2024-06-30T13:00:00.843000+00:00,9550,7214,944,81,1239,-1251
3,2024-06-30T13:00:01.063000+00:00,9550,7214,944,81,1239,-1251
4,2024-06-30T13:00:01.243000+00:00,9550,7214,944,81,1239,-1251
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7312,1134,81,1239,-1032
20972,2024-06-30T14:31:27.405000+00:00,9550,7312,1134,81,1239,-1032
20973,2024-06-30T14:31:27.485000+00:00,9550,7312,1134,81,1239,-1032
20974,2024-06-30T14:31:27.725000+00:00,9550,7312,1134,81,1239,-1032
20975,2024-06-30T14:31:28.065000+00:00,9550,7312,1134,81,1239,-1032

In [38]:
from urllib.request import urlopen
import json
import pandas as pd

response = urlopen('https://api.openf1.org/v1/location?session_key=9550&driver_number=11&date>2024-06-30T13:00:00+00:00&date<2024-06-30T15:00:00+00:00')
data = json.loads(response.read().decode('utf-8'))

# Convert the list of dictionaries to a DataFrame
df = pd.DataFrame(data)

display(df)

# Resulting filtered DataFrame
location_driver_11 = df

# Save CSV into 'source' folder
location_driver_11.to_csv('source/location_driver_11.csv', index=False)

,date,session_key,z,x,driver_number,meeting_key,y
0,2024-06-30T13:00:00.263000+00:00,9550,7214,818,11,1239,-1285
1,2024-06-30T13:00:00.643000+00:00,9550,7214,818,11,1239,-1285
2,2024-06-30T13:00:00.843000+00:00,9550,7214,818,11,1239,-1285
3,2024-06-30T13:00:01.063000+00:00,9550,7214,818,11,1239,-1285
4,2024-06-30T13:00:01.243000+00:00,9550,7214,818,11,1239,-1285
...,...,...,...,...,...,...,...
20971,2024-06-30T14:31:27.204000+00:00,9550,7313,1512,11,1239,-932
20972,2024-06-30T14:31:27.405000+00:00,9550,7313,1512,11,1239,-932
20973,2024-06-30T14:31:27.485000+00:00,9550,7313,1512,11,1239,-932
20974,2024-06-30T14:31:27.725000+00:00,9550,7313,1512,11,1239,-932
20975,2024-06-30T14:31:28.065000+00:00,9550,7313,1512,11,1239,-932